# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
venv.bak
env.bak

# ANTLR
!antlr/Chubby.g4
antlr/.antlr
antlr/*Lexer.py
antlr/*Parser.py
antlr/*Listener.py
antlr/*Visitor.py
antlr/*.interp
antlr/*.tokens

# VS Code
.vscode/

# macOS
.DS_Store

# compiled files output directory
output
